body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #002b82;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c3 {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #ff4040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c2 {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ff4040;
}